.contenerType {
  width: 8em;

  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

.typeInput {
  font-size: 1.5em;
  color: white;
  border: 3px #28262d solid;
  background-color: transparent;
  padding: 0.2em .5em;
  border-radius: 7px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

.typeInput option {
  color: white;
  background-color: black;
  border: 3px #28262d solid;
}
