.titreSectionFilme {
  color: white;
  font-size: 2em;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin-top: 70px;
  padding-left: 50px;

  @media screen and (max-width: 1024px) {
    padding-left: 0.4em;
  }
}

.sliderContainerFilme {
  margin-top: 0.8em;
  padding-left: 50px;
  box-sizing: border-box;
  padding-right: 50px;

  @media screen and (max-width: 1024px) {
    padding-left: 0;
    padding-right: 0;
  }
}

/* un élément complet */

/* flex */
.containerElement {
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

/* image */
.containerImage {
  width: 100%;
  aspect-ratio: 1.53 / 1;
  overflow: hidden;
  border-radius: 25px;
}

.containerImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* info filme */

.titreFilme {
  color: white;
  font-size: 1.4em;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  margin-top: 0.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.desciptionFilme {
  font-size: 0.8em;
  font-family: "Rubik", sans-serif;
  color: #9ca4ab;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.5;
  max-height: calc(1.5em * 2);
  min-height: calc(1.5em * 2);
  margin-top: 0.2em;
}
