.contenerDate {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
}

.pTitreDate {
  color: white;
  font-size: 1.2em;
}

.inputDate {
  width: 100%;
  border: rgb(55, 65, 81) 2px solid;
  background-color: rgb(31, 41, 55);
  border-radius: 8px;
  font-size: 1.3em;
  box-sizing: border-box;
  padding: 0.4em 0.5em 0.4em 0.7em;
  color: white;
}

.inputDate:hover {
  cursor: text;
}

.inputDate:focus {
  border: rgb(59, 130, 246) 2px solid;
  outline: none;
}
