.container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 3em;
  margin-left: 4em;
  margin-right: 4em;

  @media screen and (max-width: 1024px) {
    margin-left: 0.7em;
    margin-right: 0.7em;
    gap: 2.5em;
  }
}

.commentaire {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;

  @media screen and (max-width: 1024px) {
    margin: 0;
  }
}

.bntPlusContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
