/* le contener du slider */
.sliderContainerSource {
  margin-top: 80px;
  padding-left: 50px;
  box-sizing: border-box;
  padding-right: 50px;
}

/* un élémeent du caroussel */
.containerElement {
  height: auto;
}

/* contener de image */
.containerImage {
  width: 85%;
  aspect-ratio: 2 / 1;
  background-color: #08080a;
  border-radius: 25px;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}

.shadowSelect {
  background-color: #333;
}

/* image */
.containerImage img {
  height: 100%;
  width: 70%;
  margin: auto;
  object-fit: contain;
  z-index: 4;
}
